<div class="main-content bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-dark">
                        <h4 class="card-title text-white">Consultation de declarations</h4>
                        <p class="card-category text-white"> Voici toutes vos déclarations</p>
                    </div>
                    <div class="card-body">
                        <textarea [(ngModel)]="xmlContent" rows="100" class="form-control"></textarea>
                        <button mat-raised-button class="custom-button" style="margin-left: 10px;" >Enregistrer</button>
                        <button mat-raised-button class="custom-button" style="margin-left: 10px;" >Exporter</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
